<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="org.comroid.mcsd.web.util.ApplicationContextProvider" lazy-init="false"/>
    <bean class="org.springframework.core.io.DefaultResourceLoader"/>
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler" primary="true">
        <property name="poolSize" value="16"/>
        <property name="daemon" value="true"/>
        <property name="threadGroupName" value="mcsd-pool"/>
        <property name="threadNamePrefix" value="mcsd-thread-"/>
    </bean>
    <bean id="jstlViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="jSch" class="com.jcraft.jsch.JSch"/>
</beans>
