# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/client
run/config/fml.toml
run/crash-reports
run/defaultconfigs
run/gameTestServer
run/logs
run/mods
run/server

# Files from Forge MDK
forge*changelog.txt
