<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/head}"></head>
<script type="text/javascript" th:src="@{/static/dashboard.js}"></script>
<body>
<div class="ui-menubar" th:insert="~{/menubar}"></div>
<h3>Hello <b th:text="${user.getBestName()}"></b></h3>
<div class="ui-container-page">
  <div class="ui-content">
    <div id="serverlist">
      <h2>Servers</h2>
      <table>
        <thead><tr>
          <th><div class="simple ui-button icon-refresh" onclick="refreshServerList()"></div></th>
          <th><a class="ui-button" th:href="@{/server/create}">Create</a></th>
          <th>MOTD</th>
          <th>Players</th>
          <th>Host</th>
          <th>:</th>
          <th>Port</th>
          <th></th>
        </tr></thead>
        <tbody><tr th:each="server: ${serverRepo}" th:id="${server.id}" class="serverEntry">
          <td><div class="statusIcon icon-loading"></div></td>
          <td><a class="ui-button" th:href="@{'/server/view/'+${server.id}}">View</a>
            <a class="ui-button" th:href="@{'/server/console/'+${server.id}}">Console</a></td>
          <td><div class="motd">Loading MOTD ...</div></td>
          <td><div class="players">Fetching Players ...</div></td>
          <td th:text="${server.getHost()}">Host</td>
          <td>:</td>
          <td th:text="${server.getPort()}">Port</td>
          <td>
            <a class="ui-button" th:href="@{'/server/edit/'+${server.id}}">Edit</a>
            <a class="ui-button" th:href="@{'/server/delete/'+${server.id}}">Delete</a>
          </td>
        </tr></tbody>
      </table>
    </div>
    <div id="userlist" th:if="${canManageUsers}">
      <h2>Users</h2>
      <table>
        <thead><tr>
          <th></th>
          <th>Minecraft</th>
          <th>Discord ID</th>
          <th>Hub Profile</th>
          <th>E-Mail</th>
        </tr></thead>
        <tbody><tr th:each="user: ${userRepo}">
          <td><a class="ui-button" th:href="@{'/user/view/'+${user.id}}">View</a></td>
          <td>
            <span class="null-text" th:unless="${user.minecraftId != null}">Not linked</span>
            <a th:if="${user.minecraftId != null}" th:href="${user.nameMcURL}" th:text="${user.blockingMinecraftName()}" target="_blank">Minecraft Profile</a>
          </td>
          <td>
            <span class="null-text" th:unless="${user.discordId != null}">Not linked</span>
            <a th:if="${user.discordId != null}" th:href="'https://discordapp.com/channels/@me/'+${user.discordId}" th:text="${user.discordId}" target="_blank">Discord ID</a>
          </td>
          <td>
            <span class="null-text" th:unless="${user.hubId != null}">Not linked</span>
            <a th:if="${user.hubId != null}" th:href="'https://hub.comroid.org/hub/users/'+${user.hubId}" target="_blank">Hub</a>
          </td>
          <td>
            <span class="null-text" th:unless="${user.email != null}">Not provided</span>
            <a th:if="${user.email != null}" th:href="'mailto:'+${user.email}" th:text="${user.email}" target="_blank">E-Mail</a>
          </td>
        </tr></tbody>
      </table>
    </div>
  </div>
</div>
<div class="ui-footer" th:insert="~{/footer}"></div>
</body>
</html>