<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/head}"></head>
<script type="text/javascript" th:src="@{/static/dashboard.js}"></script>
<body onload="load()" onbeforeunload="unload()">
<div class="ui-menubar" th:insert="~{/menubar}"></div>
<h3>Hello <b th:text="${user.getBestName()}"></b></h3>
<div class="ui-container-page">
  <div class="ui-content">
    <h2>Servers</h2>
    <table>
      <thead><tr>
        <th><button class="ui-button" onclick="refreshServerList()">Refresh</button></th>
        <th><a class="ui-button" th:href="@{/server/create}">Create</a></th>
        <th>MOTD</th>
        <th>Players</th>
        <th>Host</th>
        <th>:</th>
        <th>Port</th>
        <th></th>
      </tr></thead>
      <tbody><tr th:each="server: ${serverRepo}" th:id="${server.id}" class="serverEntry">
        <td><div class="statusIcon serverStatusUnknown"></div></td>
        <td><a class="ui-button" th:href="@{'/server/view/'+${server.id}}">View</a>
            <a class="ui-button" th:href="@{'/server/console/'+${server.id}}">Console</a></td>
        <td><div class="motd">Loading MOTD ...</div></td>
        <td><div class="players">Fetching Players ...</div></td>
        <td th:text="${server.getHost()}">Host</td>
        <td>:</td>
        <td th:text="${server.getPort()}">Port</td>
        <td><a class="ui-button" th:href="@{'/server/edit/'+${server.id}}">Edit</a>
            <a class="ui-button" th:href="@{'/server/delete/'+${server.id}}">Delete</a></td>
      </tr></tbody>
    </table>
  </div>
</div>
<div class="ui-footer" th:insert="~{/footer}"></div>
</body>
</html>