<title>Minecraft Server Hub</title>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="keywords" content="minecraft, server hub, server manager"/>
<meta name="robots" content="noindex"/>
<meta name="author" content="kaleidox@comroid.org"/>
<meta name="publisher" content="comroid"/>
<meta name="description" content="Minecraft Server Hub"/>

<link th:href="@{/static/favicon.ico}" rel="icon">
<link th:href="@{/static/style.css}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
