<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/head}"></head>
<body onbeforeunload="unload()" onload="load()">
<div class="ui-menubar" th:insert="~{/menubar}"></div>
<div class="ui-container-page">
    <div class="ui-content">
        <form action="/api/webapp/user/edit" method="post">
            <h2>User <b th:text="${target.getBestName()}"></b>
                <div th:if="${user.canGovern(target)}"> - <a class="ui-button" th:href="@{'/user/edit/'+${id}}">Edit</a></div>
            <table>
                <tbody>
                <tr><td>Internal ID</td><td><input name="id" readonly th:value="${target.id}" type="text"></td></tr>
                <tr><td>Name</td><td><input name="name" th:readonly="${!edit}" th:value="${target.name}" type="text"></td></tr>
                <tr><td>Displayname</td><td><input name="name" th:readonly="${!edit}" th:value="${target.displayName}" type="text"></td></tr>
                <tr><td>Email</td><td><input name="email" th:readonly="${!edit}" th:value="${target.email}" type="email"></td></tr>
                <tr><td>HubId</td><td><input name="hubId" th:readonly="${!edit}" th:value="${target.hubId}" type="text"></td></tr>
                <tr><td>MinecraftId</td><td><input name="minecraftId" th:readonly="${!edit}" th:value="${target.minecraftId}" type="text"></td></tr>
                <tr><td>DiscordId</td><td><input name="discordId" th:readonly="${!edit}" th:value="${target.discordId}" type="number"></td></tr>
                </tbody>
            </table>
            <input th:if="${editKey!=null}" type="hidden" name="auth_key" th:value="${editKey}">
            <input th:if="${edit}" type="submit" value="Apply">
        </form>
    </div>
</div>
<div class="ui-footer" th:insert="~{/footer}"></div>
</body>
</html>