<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/head}"></head>
<script th:src="@{/static/modules.js}" type="text/javascript"></script>
<script th:src="@{/static/common.js}" type="text/javascript"></script>
<body onbeforeunload="unload()" onload="load()">
<div class="ui-menubar" th:insert="~{/menubar}"></div>
<div class="ui-container-page">
    <div class="ui-content">
        <form action="/api/webapp/server/edit" method="post">
            <h2>Server <b th:text="${target.getBestName()}"></b>
                - <a class="ui-button" th:href="@{'/server/edit/'+${id}}">Edit</a>
                - <a class="ui-button" th:href="@{'/server/permissions/'+${target.id}+'/'+${user.id}}">Edit
                    Permissions</a></h2>
            <h3>General</h3>
            <table>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td><input name="name" th:readonly="${!edit}" th:value="${target.name}" type="text"></td>
                </tr>
                <tr>
                    <td>Displayname</td>
                    <td><input name="displayName" th:readonly="${!edit}" th:value="${target.displayName}" type="text">
                    </td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td><input name="owner" th:readonly="${!edit}"
                               th:value="${edit?target.owner.id:target.owner.bestName}"
                               type="text"></td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><input name="id" readonly th:value="${target.id}" type="text"></td>
                </tr>
                <tr>
                    <td>Minecraft Version</td>
                    <td><input name="mcVersion" th:readonly="${!edit}" th:value="${target.mcVersion}" type="text"></td>
                </tr>
                <tr>
                    <td>Loader</td>
                    <td><input name="loader" readonly
                               th:value="${target.forceCustomJar} ? 'Custom JAR' : ${target.loaderName}"
                               type="text"></td>
                </tr>
                <tr>
                    <td th:if="${target.customCommand != null}">Runscript</td>
                    <td th:if="${target.customCommand != null}"><input name="customCommand" th:readonly="${!edit}"
                                                                       th:value="${target.customCommand}"
                                                                       type="text"></td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td><input name="host" th:readonly="${!edit}" th:value="${target.host}"
                               type="text"></td>
                    <td><input max="65535" min="1" name="port" th:readonly="${!edit}" th:value="${target.port}"
                               type="number"></td>
                </tr>
                <tr>
                    <td>Homepage</td>
                    <td><a th:href="${target.homepage}"><input name="homepage" th:if="${edit}"
                                                               th:value="${target.homepage}"
                                                               type="url"></a></td>
                </tr>
                </tbody>
            </table>
            <h3>Advanced configuration</h3>
            <table>
                <tbody>
                <tr>
                    <td>Managed</td>
                    <td><input name="managed" th:readonly="${!edit}" th:value="${target.managed}" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Autostart</td>
                    <td><input name="enabled" th:readonly="${!edit}" th:value="${target.enabled}" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Whitelist</td>
                    <td><input name="whitelist" th:readonly="${!edit}" th:value="${target.whitelist}" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>Query Port</td>
                    <td><input max="65535" min="1" name="queryPort" th:readonly="${!edit}"
                               th:value="${target.queryPort}"
                               type="number"></td>
                </tr>
                </tbody>
            </table>
            <input name="auth_key" th:if="${editKey!=null}" th:value="${editKey}" type="hidden">
            <input th:if="${edit}" type="submit" value="Apply">
        </form>
        <h3>Modules</h3>
        <table>
            <thead>
            <tr>
                <th>
                    <button class="ui-button" onclick="addModule()">Add</button>
                </th>
                <th>Name</th>
                <th>Description</th>
                <th>
                    <!-- todo: both of these cause NS_BINDING_ABORTED errors for some reason
                    <button onclick="reload(false)">Refresh Config</button>
                    <button onclick="confirmAction('do a full reload', 'This will restart the server', ()=>reload(true))">Full Reload</button>
                    -->
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="module: ${modules}" th:id="'module_'+${module.id}">
                <tr class="ui-table-parent">
                    <td><input class="state-switch" th:checked="${module.enabled}" th:id="'state_'+${module.id}"
                               type="checkbox"></td>
                    <td th:text="${module.dtype.name}"></td>
                    <td th:text="${module.dtype.description}"></td>
                    <td>
                        <a class="ui-button" th:href="@{'/module/edit/'+${module.id}}">Edit</a>
                        <a class="ui-button" th:href="@{'/module/delete/'+${module.id}}">Delete</a>
                    </td>
                </tr>
                <tr class="ui-table-child">
                    <td colspan="4">
                        <form th:id="'detail_'+${module.id}">
                            <table>
                                <tbody>
                                <tr th:each="e: ${module.dtype.proto.properties}" th:with="prop = ${e.value}">
                                    <td th:text="${prop.name}"></td>
                                    <td><input type="text" th:value="${prop.getter.invokeSilent(module)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div class="ui-footer" th:insert="~{/footer}"></div>
</body>
</html>