<div th:fragment="propView(struct, prefill, obj, includeReadonly)">
    <!--/*@thymesVar id="struct" type="org.comroid.api.data.bind.DataStructure"*/-->
    <!--/*@thymesVar id="prefill" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
    <!--/*@thymesVar id="obj" type="java.lang.Object"*/-->
    <th:block th:each="entry: ${struct.categorizedOrderedProperties}" th:object="${entry}"
              th:with="category = ${entry.getKey()}">
        <h3 th:text="${category.name}"></h3>
        <h4 th:text="${category.description}"></h4>
        <table>
            <tbody>
            <tr th:each="prop: ${entry.getValue()}" th:if="${prop.type.standard && !prop.name.equals('token') && (includeReadonly || prop.canSet())}"
                th:object="${prop}">
                <td th:text="${prop.alternateName}"></td>
                <td><input th:checked="${obj==null?(prefill==null?'':(prefill.getOrDefault(prop.name,null))):prop.getFrom(obj)}"
                           th:name="${prop.name}"
                           th:placeholder="${prop.defaultValue}"
                           th:readonly="${prop.name.equals('id') || !prop.canSet() || !edit}"
                           th:type="${prop.name.contains('email') ? 'email' : prop.type.htmlInputType}"
                           th:value="${obj==null?(prefill==null?'':(prefill.getOrDefault(prop.name,null))):prop.getFrom(obj)}">
                    <!--           data-th-attr="${String.join(', ', prop.type.htmlInputAttributes)}"-->
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>